In [2]:
import pandas

In [5]:
data_frame = pandas.read_csv('/Users/unknownman/Library/CloudStorage/OneDrive-Личная/GeekBrains/Faculty-Software_Engineer_(Python)/Second_quater/1-Introduction_to_Python/seminars/Sem09_WorkingWithTableData/source/california_housing_train.csv')
data_frame.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

# Задача №40:
Работать с файлом california_housing_train.csv, который находится в папке sample_data.
Определить среднюю стоимость дома, где кол-во людей от 0 до 500 (population)

In [6]:
data_frame[data_frame['population'] <= 500]['median_house_value'].mean()

206799.95140186916

# Задача №42:
Узнать какая максимальная households в зоне минимального значения population

In [7]:
data_frame[data_frame['population'] == data_frame['population'].min()]['households'].max()

4.0